.ub1
{
    display: -webkit-box;
    display: box !important;
    position:relative;
}
.ubfw{
    font-weight: normal;
}
.ub-logo{
    background-position:center;
    background-size:100%;
    background-image: url(../images/logo.png)
}
.ub-tool{
    background-position:center;
    background-size:50%;
    background-image: url(../images/tool.png)
}
.ub-tool:hover{
    background-color: rgb(13,13,13)
}
.bc-h-col{
    background-color: rgb(34,34,34)
}
.bc-btn{
    background-color: #fff
}
.bc-banner{
    background-color: rgb(13,13,13)
}
.toolbar:hover{
    background-color: rgb(57,57,57)
}
.font-h-col{
    color: #fff;
}
.font-h-col1{
    color: #000;
}
.ub-img{
    background-repeat: no-repeat;
}
.banner-img1{
    background-position:center;
    background-size:auto 100%;
    background-image: url(../images/cp1.png)
}
.banner-img2{
    background-position:center;
    background-size:auto 100%;
    background-image: url(../images/cp2.png)
}
.play-img{
    background-position:center;
    background-size:cover;
    background-image: url(../images/play.png)
}
.ubb-b{
    border-bottom: solid 1px #ccc;
}
.ubb-r{
    border-right: solid 1px #eee
}

.ubb-c{
    border-color: #ccc;
}
.ubb-c1{
    border-color: #eee;
}
.ubb-c2{
    border-color: #444;
}

.font-c{
    color: #aaa;
}

.cp-img{
    background-position:center;
    background-size:cover;
    background-image: url(../images/cpmax.png)
}
.cp-img1{
    background-position:center;
    background-size:cover;
    background-image: url(../images/cpmax1.png)
}
.cp-img2{
    background-position:center;
    background-size:cover;
    background-image: url(../images/cpmax2.png)
}
.cp-img3{
    background-position:center;
    background-size:cover;
    background-image: url(../images/cp.png)
}
.cp-img4{
    background-position:center;
    background-size:cover;
    background-image: url(../images/cpmax4.png)
}
.sp-close{
    background-position:left;
    background-size:1em;
    background-image: url(../images/close.png)
}
.bgjr{
    background-position:center;
    background-size:cover;
    background-image: url(../images/bgjr.png)
}

.line-h13{
    line-height: 1.3em;
}
.line-h18{
    line-height: 1.8em;
}
.bg-foot{
    background-color: #8a8787;
}
.bg-foot a:link {
    color: #fff;
    text-decoration: blink;
}
.bg-foot a:visited {
    color: #fff;
}
.bg-foot a:hover{
    color: #337ab7;
}
.horn{
    right: 1em;
    top: -0.5em;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* Internet Explorer */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); /* Opera */
   
}
#toolbar{
    right: 0.5em; top: 4em;z-index: 100;
}
.text-de{
    text-decoration: blink;
}

a:hover{
    text-decoration: blink;
}

